.body-background {
    background-color: #24232b;
}

.container {
    margin-top: 1.2em;
    padding: 1.2em 2.8em;
    background-color: #016e40;
    border-radius: 1.6em;
    color: azure;
}

.title {
    margin-bottom: 0.2em;
    font-size: 1.4rem;
}

h1 {
    text-align: left;
    margin-bottom: 1.8em;
}

.employees-table {
    width: 100%;
    margin-top: 1em;
    text-align: left;
}

.employees {
    margin-top: 0.4em;
    font-size: 1.2rem;
}

.mt-10 {
    margin-top: 0.8em;
}